body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header {
  background: linear-gradient(
    305.1deg,
    rgba(147, 0, 101, 0.4) 30%,
    #ffffff 70.21%
  );
}
.logo {
  width: 80px;
  padding: 0.6%;
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .logo {
    width: 40px;
  }
  .name {
    font-size: 16px !important;
    margin-top: 1%;
  }
}
.name {
  font-size: 40px;
  padding: 0 2%;
  font-weight: 700;
}
.about {
  background: linear-gradient(90deg, #d75ff5 0%, #930065 100%);
}
.box-1 {
  width: 180px;
  border-radius: 10px;
}
.name-a {
  font-size: 35px;
  font-weight: 700;
}
.box-2 {
  background: linear-gradient(90.03deg, #930065 0.02%, #d75ff5 100.85%);
  border-radius: 10px;
  margin: 10% 0 4% 0;
}
.button {
  background: linear-gradient(270.47deg, #00c8a6 0.33%, #00957c 99.6%);
  color: white;
  font-size: 18px;
  font-weight: 700;
  width: 180px;
  border-radius: 10px;
  border: none;
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .box-1 {
    width: 100px;
    margin-left: 35% !important;
  }
  .name-a {
    font-size: 20px;
    padding: 1% !important;
  }
  .box-2 {
    text-align: center;
    padding: 0 !important;
    margin-top: 2% !important;
  }
  .button {
    border-radius: 20px;
    margin-right: 25% !important;
  }
}
.image {
  width: 55%;
  margin-top: 4%;
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .image {
    width: 100% !important;
  }
}
.box-3a {
  border-radius: 10px;
  margin: 0 10%;
}
.box-3b {
  border: 6px solid white;
  height: 50px;
  width: 0px;
  margin: 0 20%;
}
.box-3c {
  border-radius: 25px;
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .ovm-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ovm-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7% !important;
  }
  #box {
    margin: 0 !important;
  }
  .box-3a {
    width: 50% !important;
  }
  .box-3c,
  .box-4 {
    font-size: 15px !important;
    width: 95% !important;
    text-align: center !important;
  }
}
.box-5 {
  border-radius: 10px;
  width: 250px;
}
.button-1 {
  border: none;
  background: linear-gradient(180deg, #00c8a6 0%, #00957c 100%);
  border-radius: 10px;
  width: 130px;
  float: right;
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .box-5 {
    width: 150px !important;
  }
  .card {
    margin-bottom: 5% !important;
  }
  .card-title {
    text-align: center;
    font-size: 25px !important;
  }
  .button-1 {
    float: none;
    margin-left: 25%;
  }
}
.offer {
  background: linear-gradient(
    280.1deg,
    rgba(147, 0, 101, 0.4) 30%,
    rgba(244, 205, 232, 0.4) 70.21%
  );
}
#box-6a {
  width: 60%;
}
#box-6b {
  width: 70%;
}
#box-6c {
  width: 50%;
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  #offer {
    width: 80% !important;
  }
  #box-6a {
    width: 80% !important;
    font-size: 15px !important;
    margin: 0 !important;
  }
  #box-6b {
    width: 97% !important;
    font-size: 15px !important;
    margin: 0 !important;
  }
  #box-6c {
    width: 70% !important;
    font-size: 15px !important;
    margin: 0 !important;
  }
  #box-6 {
    margin-left: 10% !important;
  }
}
#frame {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border: none;
}
#box-3a {
  width: 20%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  margin: 0 18%;
}
#order-1 {
  display: none;
}
.image {
  width: 60%;
}
.box-3d {
  border: 6px solid white;
  height: 50px;
  width: 0px;
  margin: 0 27%;
}
.frame {
  width: 90%;
}

@media only screen and (min-width: 300px) and (max-width: 576px) {
  #order {
    display: none;
  }
  #order-1 {
    display: block;
  }
  .image-order {
    width: 60%;
  }
  #box-order {
    padding: 2% 1.56% 3% 1.56%;
  }
  .box-6d {
    border: 2px solid white;
    width: 10%;
    height: 2%;
    margin-top: 5%;
  }
  .box-3d {
    margin: 0 48% !important;
  }
}
.vector-1 {
  margin-left: -100%;
  position: absolute;
  margin-top: -0.5%;
}
.vector-2 {
  margin-top: 2.4%;
  margin-left: -100%;
  position: absolute;
}
.footer {
  margin-top: -7%;
  padding-left: 5%;
  z-index: 99;
}
.footer-1 {
  margin-top: -3%;
  margin-left: -3%;
  z-index: 99;
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  h3 {
    font-size: 10px;
  }
  h5 {
    font-size: 7px;
  }
  .h2 {
    font-size: 12px;
  }
  .footer {
    margin-top: -11% !important;
  }
}
